<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>Life is short, make Lemonade!</p>
            <ul class="footer-links">
              <li><a><i class="fa fa-map-marker"></i>8 Boulevard Amiral Courbet, 30000 Nîmes.</a></li>
              <li><a><i class="fa fa-phone"></i>+33466760122</a></li>
              <li><a><i class="fa fa-envelope-o"></i>yumyent@domaine.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><a routerLink="/pizza">Pizza</a></li>
              <li><a routerLink="/sandwich">Sandwich</a></li>
              <li><a routerLink="/salade">Salade</a></li>
              <li><a routerLink="/pasta">Pasta</a></li>
              <li><a routerLink="/dessert">Dessert</a></li>
              <li><a routerLink="/kfc">Drinks</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a routerLink="/aboutus">About Us</a></li>
              <li><a routerLink="/contactus">Contact Us</a></li>
              <li><a routerLink="/privacy">Privacy Policy</a></li>
              <li><a routerLink="/terms">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="">Home</a></li>
              <li><a routerLink="/cart">View Cart</a></li>
              <li><a href="http://localhost/admin/">Admin Pannel</a></li>
              <li><a href="http://localhost/trackmyorders/">Track My Order</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">

            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
            <li><a href="#"><i class="	fa fa-google-wallet"></i></a></li>
<!--            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>-->
          </ul>
          <span class="copyright">

								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Digicom

							</span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
